<div class="devise_background">
  <h1>新規登録</h1>
  <%= form_with model: @user, url: '#', local: true do |f| %>
    <%# render "users/shared/error_messages", model: @user %>
    <div class="field-input">
      <div class="field">
        <%= f.text_field :nickname, placeholder: "ニックネーム", class: "field_box" %>
      </div>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "field_box" %>
      </div>
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "field_box" %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "再パスワード", class: "field_box" %>
      </div>
      <div class="select_field">
        <div class="field">
          <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, class: "sex-select") %>
        </div>
        <div class="field">
          <%= f.collection_select(:age_id, Age.all, :id, :name, {}, class: "age-select") %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "新規登録", id: "field_btn" %>
      </div>
    </div>
  <% end %>
</div>